.obsidian
TASKS
CKAD-exercises
'Kubernetes Certified Application Developer (CKAD) with tests UDEMY\Screenshots'
/c/Users/r/Desktop/!!!___INFORMATYKA_/Obsidian/obsidian_notes/Kubernetes Certified Application Developer (CKAD) with tests UDEMY/Screenshots

