.obsidian
TASKS
CKAD-exercises
'Kubernetes Certified Application Developer (CKAD) with tests UDEMY\Screenshots'
'Kubernetes Certified Application Developer (CKAD) with tests UDEMY'\Screenshots
Kubernetes\ Certified\ Application\ Developer\ \(CKAD\)\ with\ tests\ UDEMY/Screenshots
